/backend/node_modules/
/frontend/.gitignore
/frontend/README.md
/frontend/public/favicon.ico
/frontend/public/logo192.png
/frontend/public/logo512.png
/frontend/public/manifest.json
/frontend/public/robots.txt